body {
  font-family: Tahoma, sans-serif;
}

input[type="text"] {
  width: 5em;
}

input[type="text"], button {
  padding: .5em 1em;
  font-size: 18px;
  margin-bottom: .25em;
}

.output {
  font-size: 48px;
}
