$bg: #253241
$white: #fff
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

body
  color: $white
  background-color: $bg
  font-family: $fontFamily
  font-weight: 900
  width: 100%
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center

.header-text
  color: white
  font-size: 4rem
  margin: 1rem
  
.guest-input
  color: darken($bg, 3%)
  background-color: white
  border-radius: 3em
  font-size: 3rem
  padding: .2em .5em
  
.roll
  cursor: pointer
  appearance: none
  color: white
  background-color: darken($bg, 3%)
  text-decoration: none
  font-size: 3rem
  font-family: $fontFamily
  font-weight: 900
  border: 5px solid $white
  padding: .2em 2em
  border-radius: 3em
  transition: 200ms ease-in-out
  &:hover
    background-color: $white
    color: $bg
  
.names
  font-size: 2.5rem
  
.winner
  font-size: 4rem
  text-align: center
  span
    font-size: .35em
    font-weight: 500

.hide
  display: none
